<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pohybytovaru.innovativeproposals.com.pohybytovaru">

    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="pohybytovaru.innovativeproposals.com.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <activity android:name=".MainActivity_"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Miestnosti.ListMiestnostiActivity_"
            android:label="@string/activity_ListMiestnosti"
            android:parentActivityName=".MainActivity_" />

        <activity
            android:name=".Miestnosti.DetailMiestnostiActivity_"
            android:label="@string/activity_DetailMiestnosti"
            android:parentActivityName=".Miestnosti.ListMiestnostiActivity_"
            android:theme="@style/AppTheme.DialogActivity" />

        <activity
            android:name=".Tovary.ListTovarActivity_"
            android:label="@string/activity_ZoznamTovarov"
            android:parentActivityName=".MainActivity_" />

        <activity
            android:name=".Tovary.DetailTovarActivity_"
            android:label="@string/activity_ZoznamTovarov_Detail" />

        <activity
            android:name=".Prehlady.PohybTovarov.PohybTovarActivity_"
            android:label="@string/activity_PohybTovarov"
            android:parentActivityName=".MainActivity_" />

        <activity
            android:name=".Prehlady.MnozstvaTovarov.ListMnozstvaTovarovActivity"
            android:label="@string/AktualnePoctyTovarov"
            android:parentActivityName=".MainActivity_" />

        <activity
            android:name=".Prehlady.MnozstvaTovarov.ListMnozstvaTovarovVMiestnostiach"
            android:label="@string/AktualnePoctyTovarov"
            android:parentActivityName=".Prehlady.MnozstvaTovarov.ListMnozstvaTovarovActivity" />


        <activity android:name=".Prehlady.PohybTovarov.PohybTovarActivityDetail_"
            android:label=""
            android:parentActivityName=".Prehlady.PohybTovarov.PohybTovarActivity_">

        </activity>

        <activity android:name=".Budovy.ListBudovaActivity_"
            android:label="@string/activity_ListBudov"
            android:parentActivityName=".MainActivity_">

        </activity>

        <activity android:name=".Budovy.DetailBudovaActivity_"
            android:label="@string/activity_DetailBudova"
            />

        <activity android:name=".Budovy.DetailPoschodieActivity_"

            />

        <activity android:name=".Budovy.ThreeLevelExpandableListView" />

        <activity android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity_"
            />

        <activity
            android:name=".Prehlady.MinimalneMnozstva.MinimalneMnozstvaTovarovActivity"
            android:label="@string/PrekroceneLimity"
            android:parentActivityName=".MainActivity_" />

        <activity android:name=".Login.LoginActivity" />





    </application>

</manifest>